<a href="https://colab.research.google.com/github/Panachai-spec007/dataviz2025/blob/main/(%E0%B8%88%E0%B8%9A)_Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'ภัทรวรรธน์'
surname = 'ใจเที่ยง'
ID = '603021866-7'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ภัทรวรรธน์ นามสกุล ใจเที่ยง รหัส 603021866-7

In [ ]:
dict_a = {'abc': 123,'def': 456,'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b ={}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

In [ ]:
dict_b['b'] = 456

In [ ]:
dict_b

{'a': 123, 'b': 456}

# **การ add สมาชิกเข้าไปใน dict**

In [ ]:
if'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 123, 'b': 456}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_name(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

# **Quiz 5**

In [ ]:
def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(':'))
    total_seconds = h * 3600 + m * 60 + s
    return total_seconds
def time_difference_in_seconds(start, end):
    start_sec = time_to_seconds(start)
    end_sec = time_to_seconds(end)
    return end_sec - start_sec
#prompt เขียนฟังก์ชันคำนวณวินาทีจาก เวลาที่ใส่เข้ามา

In [ ]:
    print(time_difference_in_seconds("12:30:15", "13:41:07"))

4252

# **Quiz 6**
เขียน funtion ของ HW2 มีการใช้ค่า default ของ input
โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

In [ ]:
def time_diff(start_time, end_time, start_day="Same", end_day=None):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    def time_to_seconds(time_str):
        h, m, s = map(int, time_str.split(":"))
        return h * 3600 + m * 60 + s

    # ถ้า start_day ไม่ระบุ หรือเป็น "Same" → ใช้ end_day แทน
    if start_day == "Same":
        start_day = end_day or "Monday"  # ถ้าไม่มี end_day เลย → Monday

    # ถ้า end_day ไม่ระบุ → ใช้ start_day
    if end_day is None:
        end_day = start_day

    # index ของวันในสัปดาห์
    start_day_index = days.index(start_day)
    end_day_index = days.index(end_day)

    # ความต่างของวัน (เผื่อข้ามสัปดาห์)
    day_diff = (end_day_index - start_day_index) % 7

    # แปลงเวลาเป็นวินาที
    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)



    # ถ้าเป็นวันเดียวกัน แต่ end_time < start_time → ต้องข้ามวัน
    if day_diff == 0 and end_sec < start_sec:
        day_diff = 1

    total_seconds = day_diff * 86400 + (end_sec - start_sec)

    return total_seconds
    #prompt:เขียน funtion ของ HW2 มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

In [ ]:
print(time_diff("12:30:15", "13:41:07"))

print(time_diff("23:00:00", "01:00:00", start_day="Monday", end_day="Tuesday"))

print(time_diff("23:00:00", "01:00:00", end_day="Tuesday"))

print(time_diff("20:00:00", "03:00:00",end_day="Monday"))

print(time_diff("12:00:00"))

print(time_diff("23:00:00", "01:00:00"))

4252
7200
7200
25200

TypeError: time_diff() missing 1 required positional argument: 'end_time'

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#**HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวน วินาที ในโจทย์ ต่อไปนี้**

[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time

    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time

    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)

    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference

    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)

    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day

    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day

    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later

    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

In [ ]:
def time_diff(start_time, end_time, start_day="Same", end_day=None):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    def time_to_seconds(time_str):
        h, m, s = map(int, time_str.split(":"))
        return h * 3600 + m * 60 + s

    if start_day == "Same":
        start_day = end_day or "Monday"

    # กรณี end_day ไม่ระบุ → ตรวจว่า end_time < start_time → ข้ามวัน
    if end_day is None:
        end_sec = time_to_seconds(end_time)
        start_sec = time_to_seconds(start_time)
        start_index = days.index(start_day)
        if end_sec < start_sec:
            end_index = (start_index + 1) % 7
        else:
            end_index = start_index
        end_day = days[end_index]

    start_index = days.index(start_day)
    end_index = days.index(end_day)

    start_total = start_index * 86400 + time_to_seconds(start_time)
    end_total = end_index * 86400 + time_to_seconds(end_time)

    diff = abs(end_total - start_total)
    one_week = 7 * 86400
    return min(diff, one_week - diff)
test_cases = [
    ("10:00:00", "Monday", "11:30:00", None, 5400),
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),
    ("23:00:00", "Sunday", "01:00:00", None, 7200),
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 86400),
    ("00:00:00", "Monday", "23:59:59", None, 86399),
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),
]

for i, (start, day1, end, day2, expected) in enumerate(test_cases, 1):
    result = time_diff(start, end, day1, day2)
    status = "✅" if result == expected else f"❌ (got {result})"
    print(f"{i:2}. {start} {day1} → {end} {day2 or ''} = {result} | Expected: {expected} {status}")

 1. 10:00:00 Monday → 11:30:00  = 5400 | Expected: 5400 ✅
 2. 11:30:00 Monday → 10:00:00 Monday = 5400 | Expected: 5400 ✅
 3. 23:00:00 Sunday → 01:00:00  = 7200 | Expected: 7200 ✅
 4. 01:00:00 Monday → 23:00:00 Sunday = 7200 | Expected: 7200 ✅
 5. 10:00:00 Tuesday → 11:30:00 Thursday = 178200 | Expected: 178200 ✅
 6. 11:30:00 Thursday → 10:00:00 Tuesday = 178200 | Expected: 178200 ✅
 7. 12:00:00 Monday → 12:00:00 Monday = 0 | Expected: 0 ✅
 8. 12:00:00 Monday → 12:00:00 Tuesday = 86400 | Expected: 86400 ✅
 9. 00:00:00 Monday → 23:59:59  = 86399 | Expected: 86399 ✅
10. 23:59:59 Sunday → 00:00:00 Monday = 1 | Expected: 1 ✅

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

In [ ]:
index = 0
for i in'Thanapong':
    print(f'character {i} = {index}')
    index += 1

character T = 0
character h = 1
character a = 2
character n = 3
character a = 4
character p = 5
character o = 6
character n = 7
character g = 8

# **Quiz 7 แสดงว่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้**
ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
for i in range(1, 6):
  for j in range(1, i + 1):
    print(i * j, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
for index, i in enumerate('Thanapong'):
    print(f'character {i} level {index}')

character T level 0
character h level 1
character a level 2
character n level 3
character a level 4
character p level 5
character o level 6
character n level 7
character g level 8

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [4]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [5]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [6]:
print_feelings('ฟง',list_friends)

ฟง คิดถึง คุณหนูเบียร์
ฟง คิดถึง พ่อใหญ่เฟิร์ส
ฟง คิดถึง อ้ายสีหนุ่ม
ฟง คิดถึง จ่าหนึ่ง
ฟง คิดถึง บักโส

In [7]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

In [8]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [9]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [10]:
name_grade['ปนัดดา']

'A'

In [11]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [12]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [13]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

#HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยลูป คำนวณ วินาทีในโจทย์ต่อไปนี้

### conditional คือ เงื่อนไข /ประโยคเงื่อนไข

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [15]:
print(list_friends)

['คุณหนูเบียร์', 'พ่อใหญ่เฟิร์ส', 'อ้ายสีหนุ่ม', 'จ่าหนึ่ง', 'บักโส']

In [14]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

คุณหนูเบียร์ รัก คุณหนูเบียร์
คุณหนูเบียร์ รัก พ่อใหญ่เฟิร์ส
คุณหนูเบียร์ รัก อ้ายสีหนุ่ม
คุณหนูเบียร์ รัก จ่าหนึ่ง
คุณหนูเบียร์ รัก บักโส
พ่อใหญ่เฟิร์ส รัก คุณหนูเบียร์
พ่อใหญ่เฟิร์ส รัก พ่อใหญ่เฟิร์ส
พ่อใหญ่เฟิร์ส รัก อ้ายสีหนุ่ม
พ่อใหญ่เฟิร์ส รัก จ่าหนึ่ง
พ่อใหญ่เฟิร์ส รัก บักโส
อ้ายสีหนุ่ม รัก คุณหนูเบียร์
อ้ายสีหนุ่ม รัก พ่อใหญ่เฟิร์ส
อ้ายสีหนุ่ม รัก อ้ายสีหนุ่ม
อ้ายสีหนุ่ม รัก จ่าหนึ่ง
อ้ายสีหนุ่ม รัก บักโส
จ่าหนึ่ง รัก คุณหนูเบียร์
จ่าหนึ่ง รัก พ่อใหญ่เฟิร์ส
จ่าหนึ่ง รัก อ้ายสีหนุ่ม
จ่าหนึ่ง รัก จ่าหนึ่ง
จ่าหนึ่ง รัก บักโส
บักโส รัก คุณหนูเบียร์
บักโส รัก พ่อใหญ่เฟิร์ส
บักโส รัก อ้ายสีหนุ่ม
บักโส รัก จ่าหนึ่ง
บักโส รัก บักโส

In [16]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

คุณหนูเบียร์ รัก พ่อใหญ่เฟิร์ส
คุณหนูเบียร์ รัก อ้ายสีหนุ่ม
คุณหนูเบียร์ รัก จ่าหนึ่ง
คุณหนูเบียร์ รัก บักโส
พ่อใหญ่เฟิร์ส รัก คุณหนูเบียร์
พ่อใหญ่เฟิร์ส รัก อ้ายสีหนุ่ม
พ่อใหญ่เฟิร์ส รัก จ่าหนึ่ง
พ่อใหญ่เฟิร์ส รัก บักโส
อ้ายสีหนุ่ม รัก คุณหนูเบียร์
อ้ายสีหนุ่ม รัก พ่อใหญ่เฟิร์ส
อ้ายสีหนุ่ม รัก จ่าหนึ่ง
อ้ายสีหนุ่ม รัก บักโส
จ่าหนึ่ง รัก คุณหนูเบียร์
จ่าหนึ่ง รัก พ่อใหญ่เฟิร์ส
จ่าหนึ่ง รัก อ้ายสีหนุ่ม
จ่าหนึ่ง รัก บักโส
บักโส รัก คุณหนูเบียร์
บักโส รัก พ่อใหญ่เฟิร์ส
บักโส รัก อ้ายสีหนุ่ม
บักโส รัก จ่าหนึ่ง

In [17]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

คุณหนูเบียร์ รัก คุณหนูเบียร์
พ่อใหญ่เฟิร์ส รัก พ่อใหญ่เฟิร์ส
อ้ายสีหนุ่ม รัก อ้ายสีหนุ่ม
จ่าหนึ่ง รัก จ่าหนึ่ง
บักโส รัก บักโส

In [18]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

คุณหนูเบียร์ รัก พ่อใหญ่เฟิร์ส
คุณหนูเบียร์ รัก อ้ายสีหนุ่ม
คุณหนูเบียร์ รัก จ่าหนึ่ง
คุณหนูเบียร์ รัก บักโส
พ่อใหญ่เฟิร์ส รัก คุณหนูเบียร์
พ่อใหญ่เฟิร์ส รัก อ้ายสีหนุ่ม
พ่อใหญ่เฟิร์ส รัก จ่าหนึ่ง
พ่อใหญ่เฟิร์ส รัก บักโส
อ้ายสีหนุ่ม รัก คุณหนูเบียร์
อ้ายสีหนุ่ม รัก พ่อใหญ่เฟิร์ส
อ้ายสีหนุ่ม รัก จ่าหนึ่ง
อ้ายสีหนุ่ม รัก บักโส
จ่าหนึ่ง รัก คุณหนูเบียร์
จ่าหนึ่ง รัก พ่อใหญ่เฟิร์ส
จ่าหนึ่ง รัก อ้ายสีหนุ่ม
จ่าหนึ่ง รัก บักโส
บักโส รัก คุณหนูเบียร์
บักโส รัก พ่อใหญ่เฟิร์ส
บักโส รัก อ้ายสีหนุ่ม
บักโส รัก จ่าหนึ่ง

#### ==, !=,>=,<=,<,>

In [19]:
'พี่บูม' == 'พี่เจ็ท'

False

In [20]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [21]:
if True:
    print('Yes')

Yes

In [22]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [23]:
if False:
    print('Yes')
else:
    print('No')

No

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [38]:
if (1>0) & (0>-1):
    print(True & True)

True

In [39]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [40]:
def return_nothing(x):
    x = x+1

In [41]:
a = return_nothing(5)

In [42]:
if a is None:
    print('x is null')

x is null

In [45]:
if (2 < 3) & 7 in range(10):
    print('Yes')
else:
    print('No')

Yes

In [55]:
numbers = [0,2,8,24,5,60,70,81,9,10]

def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2  != 0:
           print(f'มีเลขคี่{i}')
           return

    print('ไม่มีเลขคี่')
    return input_list

check_odd_in_list(numbers)
check_odd_in_list([0,2,8,24])

มีเลขคี่5
ไม่มีเลขคี่

[0, 2, 8, 24]

# Finish